---
---

@import "{{ site.theme }}";

/* Global */
a:hover, a:focus {
  font-weight: unset;
  text-decoration: underline;
}

/* Callouts */
.callout {
  background-color: lightgrey;
  color: #2f2f2f;
  font-weight: bold;
  padding: .8em;
  text-align: center;
}

.callout a {
  font-weight: bold;
}

/* Licensing */
.licensing img {
  float: right;
}

/* Partcipants */
organizations {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

organizations.list {
  display: block;
  margin: 4em 0 0 0;
  text-align: center;
}

organization {
  margin: 1em;
  text-align: center;
  width: 200px;
}

.list organization {
  width: auto;
  margin: auto;
}

.list organization:after {
  content: '\2022';
}

.list organization:last-child:after {
  content: '';
}

logo {
  display: block;
}

logo img {
  height: auto;
  max-width: none;
  min-width: 0;
  width: auto;
}

name {
  display: block;
}

.list name {
  display: inline;
}

/* Wide Layout */
.wide .wrapper {
  width: 100%;
}
.wide header {
  float: none;
  position: relative;
  width: 100%;
}

.wide section {
  float: none;
  margin: 2em;
  width: 100%;
}

.wide footer {
  bottom: auto;
  float: none;
  position: relative;
  width: 100%;
}
