---
---

@import "{{ site.theme }}";

a {
}

a:hover, a:focus {
  font-weight: unset;
  text-decoration: underline;
}

img.participants {
  height: auto;
  max-width: none;
  min-width: 0;
  width: auto;
}
